<h1>Add new user</h1>
<form (submit)="submit()" [formGroup]="form">
  <mat-form-field>
    <input
      matInput
      type="text"
      formControlName="firstName"
      placeholder="First Name"
    />
    <mat-error>This field is required</mat-error>
  </mat-form-field>
  <br /><br />
  <mat-form-field>
    <input
      matInput
      type="text"
      formControlName="lastName"
      placeholder="Last Name"
    />
    <mat-error>This field is required</mat-error>
  </mat-form-field>
  <br /><br />
  <mat-form-field>
    <input
      matInput
      type="text"
      formControlName="email"
      placeholder="Email Address"
    />
    <mat-error>This field is required</mat-error>
  </mat-form-field>
  <br /><br />
  <mat-form-field>
    <input matInput type="text" formControlName="avatar" placeholder="Avatar" />
    <mat-hint>URL for the avatar</mat-hint>
  </mat-form-field>
  <br /><br />
  <button mat-raised-button type="submit" [disabled]="form.invalid">
    Add user
  </button>
</form>
