<table *ngIf="users$ | async as users; else loading">
  <tr *ngFor="let user of users">
    <td class="avatar">
      <img *ngIf="user.avatar" [src]="user.avatar" />
    </td>
    <td class="name">{{ user.name }}</td>
    <td class="email">{{ user.email }}</td>
    <td class="remove">
      <button mat-icon-button (click)="remove(user.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
</table>

<button mat-raised-button (click)="addUser()" color="accent">
  <mat-icon>add</mat-icon> Add user
</button>

<ng-template #loading>
  Loading data, one moment please
</ng-template>
